
# Python
__pycache__

# Test Data
test_data/*
AxolotlData/*

# config
config/*

# private instruments
instruments/private_instrument

# python venv
venv

# Add via VSCode
Axolotl.zip
instruments/doc/*
